@import url("https://fonts.googleapis.com/css2?family=Istok+Web:wght@400;700&display=swap");

* {
    font-family: "Istok Web", sans-serif;
}

.HomeContainer {
    position: absolute;
    top: 0;
    left: 0;

    width: 100vw;
    height: 100vh;

    overflow-y: hidden;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    background-color: #040116;
}

.MainBox {
    width: 100vw;
    height: 100vh;

    display: flex;
    flex-direction: column;

    padding-top: 2vw;
    /* padding-left: 3vw; */

    /* background-color: #ccc; */
}

#TopBar {
    width: 100%;
    height: 5vh;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;

    /* background-color: aliceblue; */
}

#logout {
    margin-left: 15px;
    margin-bottom: 3px;
    cursor: pointer;
    width: 100px;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: transparent;
    border: none;

    /* background-color: aqua; */
}

#logout p {
    margin-right: 10px;
    color: #fff;
    font-weight: 400;
    font-size: calc(100vw / 100);
}

#logout img {
    position: relative;

    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
    user-drag: none;
    user-select: none;

    width: 20%;
    height: auto;
}

#selectLanguage {
    margin-left: 20px;
    background-color: #000;
    color: #fff;
    outline: none;
    border: none;
    font-size: calc(100vw / 100);
}

#selectMode {
    margin-left: 20px;
    background-color: #000;
    color: #fff;
    outline: none;
    border: none;
    font-size: calc(100vw / 100);
}

#Main {
    width: 100%;
    height: 90vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    /* background-color: yellowgreen; */
}

#decor1 {
    position: relative;
    margin-bottom: calc(100vw / -50);
    width: 70%;
    height: 5vw;

    display: flex;
    flex-direction: row;
}

#decor2 {
    position: relative;
    width: 70%;
    height: 5vw;

    display: flex;
    flex-direction: row;
}

#title {
    color: #fff;
    font-weight: 700;
    font-size: calc(100vw / 70);
}

#username {
    color: #fff;
    font-weight: 400;
    font-size: calc(100vw / 70);
}
@keyframes zoomInOut {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(0.8);
    }
    100% {
        transform: scale(1);
    }
}

#AIAnimation {
    position: relative;

    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
    user-drag: none;
    user-select: none;

    width: 100%;
    height: auto;
    /* animation: zoomInOut 800ms infinite; */
}

#AIAnimation2 {
    position: relative;

    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
    user-drag: none;
    user-select: none;

    width: 100%;
    height: auto;

    animation: zoomInOut 900ms infinite;
}

#microphone {
    cursor: pointer;
    width: calc(100vw / 30);
    height: calc(100vw / 30);

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: transparent;
    border: 1px solid #fff;
    border-radius: calc(100vw / 2);
}

#microphone img {
    position: relative;

    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
    user-drag: none;
    user-select: none;

    width: 60%;
    height: auto;
}

.FunctionBox {
    width: 60vw;
    height: 100vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    /* background-color: red; */
}

#CommandContainer {
    position: relative;

    width: 90%;
    height: 90%;

    display: flex;
    flex-direction: column;
    align-items: center;

    border-radius: 20px;
    background: #67729d;
}

#SampleCommandBox {
    margin-top: 3%;
    width: 95%;
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;

    /* border: 1px solid black; */
}

#CommandTitle {
    width: 90%;
    color: #fff;
    font-size: calc(100vw / 90);
}

#SampleBox {
    width: fit-content;
    height: fit-content;

    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Two columns with equal width */
    grid-gap: calc(100vw / 30); /* Adjust the gap between items as needed */
}

#Boxes {
    width: calc(100vw / 5);
    height: calc(100vw / 8);
    border-radius: 20px;
    background: rgba(0, 0, 0, 0.17);
}

#CommandBar {
    position: absolute;
    bottom: 2%;

    width: 95%;
    max-height: 20%;
    overflow: hidden;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    border-radius: 20px;
    background: rgba(255, 255, 255, 0.2);
}

#InputCommand {
    position: relative;
    margin-left: 3%;
    overflow-y: hidden;
    resize: none;
    outline: none;

    width: 80%;
    min-height: fit-content;
    max-height: 90%;

    text-align: left;

    font-size: calc(100vw / 100);

    border: none;
    background-color: transparent;
    color: #fff;
}

#InputCommand::placeholder {
    color: #ffffff4f;
    text-align: center;
    position: absolute;
    top: 50%;
    transform: translate(0%, -50%);
}

#SendButton {
    cursor: pointer;

    margin-right: 1%;
    width: 10%;
    height: calc(100vw / 40);

    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: calc(100vw / 80);
    border: none;
    background-color: #67729d;
}

#SendButton img {
    width: 40%;
    height: auto;
}

#NotePlace {
    margin-top: 5%;
    width: 90%;
    height: 90%;

    outline: none;
    background-color: transparent;
    border: none;
    resize: none;

    color: #fff;
    font-size: calc(100vw / 80);
    letter-spacing: 10;
    /* background-color: #fff; */
}

#ToJulyPro {
    cursor: pointer;
    margin-left: 5%;
    width: calc(100vw / 12);
    height: fit-content;
    border: none;
    border-radius: 2px;
    font-size: calc(100vw / 100);
    background-color: rgb(138, 187, 255);
}

.UpgradeBox {
    width: 60vw;
    height: 60vh;
    border-radius: 20px;
    /* background: rgba(78, 150, 216, 0.2); */
}

#TitleContainer {
    width: 100%;
    height: 10%;
    margin-top: 1%;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    /* background-color: #fff; */
}

#TitleContainer p {
    color: #fff;
    font-weight: 700;
    font-size: calc(100vw / 60);
}

#TitleContainer button {
    cursor: pointer;
    margin-right: 2%;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border: none;
}

#TitleContainer img {
    width: 90%;
    height: auto;
}

.AssistantContainer {
    width: 100vw;
    height: 90vh;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* align-items: center; */
}

#SideBar {
    width: 20vw;
    height: 93vh;

    background-color: #67729d;
}

#MainAssistant {
    width: 80vw;
    height: 93vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    /* background: rgba(4, 1, 22, 0.37); */
    /* background-color: red; */
}

#AssistantDecor {
    position: relative;
    width: 25vw;
    height: 25vw;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    /* background-color: #fff; */
}

#AssistantDecor img {
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
    user-drag: none;
    user-select: none;

    width: 90%;
    height: auto;
}

#AssistantDecor p {
    position: absolute;
    bottom: 0;

    color: #fff;
    font-size: 24px;
    font-weight: 300;
}

#AssistantCommandBar {
    position: absolute;
    bottom: 2%;

    width: 50vw;
    max-height: 5vh;
    overflow: hidden;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    border-radius: 20px;
    background: rgba(255, 255, 255, 0.2);
}

#AssistantInputCommand {
    position: relative;
    margin-left: 3%;
    overflow-y: hidden;
    resize: none;
    outline: none;

    width: 80%;
    min-height: fit-content;
    max-height: 90%;

    text-align: left;

    font-size: calc(100vw / 100);

    border: none;
    background-color: transparent;
    color: #fff;
}

#AssistantInputCommand::placeholder {
    color: #ffffff4f;
    text-align: center;
    position: absolute;
    top: 50%;
    transform: translate(0%, -50%);
}

#AssistantSendButton {
    cursor: pointer;

    margin-right: 1%;
    width: 10%;
    height: 30px;

    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: calc(100vw / 80);
    border: none;
    background-color: #67729d;
}

#AssistantSendButton img {
    width: 40%;
    height: auto;
}
