@import url("https://fonts.googleapis.com/css2?family=Istok+Web:wght@400;700&display=swap");

#root {
    overflow: hidden;
}

* {
    font-family: "Istok Web", sans-serif;
}

/* width */
::-webkit-scrollbar {
    width: 0px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}
