@import url("https://fonts.googleapis.com/css2?family=Istok+Web:wght@400;700&display=swap");

#root {
    overflow: hidden;
}

* {
    font-family: "Istok Web", sans-serif;
}

img {
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
    user-drag: none;
    user-select: none;
}
